<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Education
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-button expand="full" (click)="pageOne()" color="primary">Week 1~8</ion-button>
    <ion-button expand="full" (click)="pageTwo()" color="secondary">Week 9~16</ion-button>
    <ion-button expand="full" color="tertiary">Week 17~24</ion-button>
    <ion-button expand="full" color="success">Week 18~25</ion-button>
    <ion-button expand="full" color="warning">Week 26~33</ion-button>
    <ion-button expand="full" color="danger">Week 34~41</ion-button>
    <ion-button expand="full" color="light">Week 42~49</ion-button>
</ion-content>
