<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let image of images">
      <ion-item lines="inset" button [routerLink]="['/record-detail', image.id]">
        <ion-label>
          {{ image.createdAt | date:'short' }}
          <p>{{ image.id }}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list> -->

  <ion-card *ngFor="let item of visionItems">
    <img [src]="item.imageUrl" />
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Labels
        </ion-list-header>
        <ion-item *ngFor="let label of item.results[0].labelAnnotations">{{ label.description }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>