<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Take A Picture</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <div style="display:flex; flex-direction: column; justify-content: center">
    <ion-icon name="camera"></ion-icon>
    <ion-button expand="full" (click)="capture()">Let's take a picture!</ion-button>
    <!-- <ion-img [src]="captureDataUrl"></ion-img> -->
    <img [src]="captureDataUrl"  *ngIf="captureDataUrl"/>
  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let imgUrl of imageUrls">
      <ion-img [src]="imgUrl"></ion-img>
      <img [src]="imgUrl" />
    </ion-item>
  </ion-list> -->
  <div>
    <p>{{ errorMsg }}</p>
  </div>
</ion-content>
