

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Meal
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-row no-padding>
            <ion-col size="6">
              <ion-button expand="full" color="danger" (click)="close()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" color="success" (click)="close()">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
