<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todos"></ion-back-button>
    </ion-buttons>
    <ion-title>todo-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list line="full">
    <ion-item>
      <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveTodo()">Save</ion-button>
  <ion-button expand="block" (click)="deleteTodo()" color="danger" [disabled]="!todoId">Delete</ion-button>
</ion-content>