<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="singupForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <ion-list inset>
      <ion-item>
          <ion-label position="stacked" color="primary">Username</ion-label>
          <ion-input formControlName="username" name="username" type="text" required>
          </ion-input>
      </ion-item>
      <ion-item *ngIf="singupForm.controls.username.hasError('required') && singupForm.controls.username.touched"><span class="error-signup">Username is required</span></ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input formControlName="email" name="email" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="singupForm.controls.email.hasError('required') && singupForm.controls.email.touched"><span class="error-signup">Email is required</span></ion-item>
      <ion-item *ngIf="singupForm.controls.email.hasError('email') && singupForm.controls.email.touched"><span class="error-signup">Email is invalid</span></ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input formControlName="password" name="password" type="password" required minlength="6">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="singupForm.controls.password.hasError('required') && singupForm.controls.password.touched"><span class="error-signup">Password is required</span></ion-item>
      <ion-item *ngIf="singupForm.controls.password.hasError('minlength') && singupForm.controls.password.touched"><span class="error-signup">Password must contains at least 6 characters</span></ion-item>

    </ion-list>

    <div padding>
      <ion-button type="submit" expand="block" [disabled]="!singupForm.valid">Sign Up</ion-button>
    </div>
  </form>


</ion-content>