<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    </ion-buttons>
    <ion-title>education-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list line="full">
    <ion-item>
      <ion-input required type="text" placeholder="Task" [(ngModel)]="education.task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="education.priority"></ion-input>
    </ion-item>
  </ion-list>
  <!-- Anchor -->
  <ion-button href="#">Back</ion-button>
  
  <!-- Colors -->
  <ion-button color="primary" expand="block" (click)="saveTodo()">Week 1~8</ion-button>
  <ion-button color="secondary" expand="block" (click)="saveTodo()">Week 9~16</ion-button>
  <ion-button color="tertiary" expand="block" (click)="saveTodo()">Week 17~24</ion-button>
  <ion-button color="success" expand="block" (click)="saveTodo()">Week 18~25</ion-button>
  <ion-button color="warning" expand="block" (click)="saveTodo()">Week 26~33</ion-button>
  <ion-button color="danger" expand="block" (click)="saveTodo()">Week 34~41</ion-button>
  <ion-button color="light" expand="block" (click)="saveTodo()">Week 42~49</ion-button>
</ion-content>
